# Backup files
*~

# Compressed files 
*.tgz
*.gz
*.zip

*.lst
*.o
*.out

/pic18/FF_UART.X/build/default/
/pic18/FF_UART.X/dist/default/
/pic18/FF_UART_18FxxK42.X/nbproject/private/
/pic18/FF_UART_18FxxK42.X/build/default/
/pic18/FF_UART_18FxxK42.X/dist/default/