;**********************************************************************
;                                                                     *
;    Filename:      p18fxxk42.cfg                                   *
;    Date:          13.06.2019                                        *
;    FF Version:    5                                                 *
;    Copyright:     Mikael Nordman                                    *
;    Author:        Mikael Nordman                                    *
;                                                                     * 
;    Modified:                                                        *
;**********************************************************************
;    FlashForth is licensed acording to the GNU General Public License*
;**********************************************************************
;;; FlashForth processor specific configuration

; The config directive is used control the processor configuration bits
; See processor specific include file for details.

#if CONFIG_RESET == 0x0000
        CONFIG  FEXTOSC = XT ; OFF         
        ;CONFIG  RSTOSC = HFINTOSC_64MHZ
        CONFIG  CLKOUTEN = OFF        
        CONFIG  PR1WAY = OFF          
        CONFIG  CSWEN = OFF            
        CONFIG  FCMEN = OFF           
        CONFIG  MCLRE = EXTMCLR       
        CONFIG  PWRTS = PWRT_64       
        CONFIG  MVECEN = OFF
        CONFIG  IVT1WAY = OFF         
        CONFIG  LPBOREN = OFF         
        CONFIG  BOREN = OFF          
        CONFIG  BORV = VBOR_2P45      
        CONFIG  ZCD = OFF             
        CONFIG  PPS1WAY = OFF         
        CONFIG  STVREN = ON           
        CONFIG  DEBUG = OFF           
        CONFIG  XINST = OFF           
        CONFIG  WDTCPS = WDTCPS_31    
        CONFIG  WDTE = OFF           
        CONFIG  WDTCWS = WDTCWS_7     
        CONFIG  WDTCCS = SC           
        CONFIG  BBSIZE = BBSIZE_512   
        CONFIG  BBEN = OFF            
        CONFIG  SAFEN = OFF           
        CONFIG  WRTAPP = OFF          
        CONFIG  WRTB = OFF            
        CONFIG  WRTC = OFF            
        CONFIG  WRTD = OFF            
        CONFIG  WRTSAF = OFF          
        CONFIG  LVP = ON              
        CONFIG  CP = OFF              
#endif
;;; Some constants controlling how writes to program flash is made.
        constant flash_write_outer_loop = FLASH_WRITE_OUTER_LOOP
        constant flash_write_inner_loop = FLASH_WRITE_INNER_LOOP
        constant flash_block_size = flash_write_outer_loop * flash_write_inner_loop
        constant flash_block_mask = flash_block_size - 1;
        constant flash_pointer_mask = ( ~ flash_block_mask ) & h'ff'

#define K42

;;; Define UART pins for PPS
; Choose UART TX pin
#define TX_TRIS  TRISC
#define TX_ANSEL ANSELC
#define TX_BIT   6
#define TX_PPS   RC6PPS 
#define TX_LAT   LATC

; Choose UART RX pin
#define RX_TRIS  TRISC
#define RX_ANSEL ANSELC
#define RX_BIT   7
#define RX_PPS   b'00010111' ; from datasheet
