;**********************************************************************
;                                                                     *
;    Filename:      p18f24k50-25k50-45k50.cfg                         *
;    Date:          08.09.2019                                        *
;    FF Version:    5.0                                               *
;    MCU            18f24k50 18f25k50 18f45k50                        *
;    Copyright:     Mikael Nordman                                    *
;    Author:        Mikael Nordman                                    *
;                                                                     * 
;    Modified:                                                        *
;**********************************************************************
;    FlashForth is licensed acording to the GNU General Public License*
;**********************************************************************
;;; FlashForth processor specific configuration

;;; Define USB_CDC if you want to use USB serial emulation
;;; If you use CDC, you must also compile usbcdc.asm
#define USB_CDC
#define USB_SPEED 1  ; 0 = low speed, 1 = high speed

; The config directive is used control the processor configuration bits
; See processor specific include file for details.
#if CONFIG_RESET == 0x0000
        config CPUDIV = NOCLKDIV    ;48 MHZ cpu clock
        config PLLSEL = PLL4X       ; 4 x 12 MHz = 48 MHz system and USB clock 
        config FOSC = HSM           ; 12 MHz HS Xtal oscillator
        config LS48MHZ = SYS48X8
        config CFGPLLEN = ON
        config PCLKEN = ON
        config FCMEN = OFF
        config IESO = OFF
        config nPWRTEN = ON
        config BOREN = SBORDIS
        config BORV = 250
        config WDTEN = ON
        config WDTPS = 256
        config MCLRE = ON
        config ICPRT = OFF
        config STVREN = ON
        config LVP = OFF
        config XINST = OFF
#endif
        
;;; Some constants controlling how writes to program flash is made.
        constant flash_write_outer_loop = d'1'
        constant flash_write_inner_loop = d'64'
        constant flash_block_size = flash_write_outer_loop * flash_write_inner_loop
        constant flash_block_mask = flash_block_size - 1;
        constant flash_pointer_mask = ( ~ flash_block_mask ) & h'ff'

;;; Activate 4xPLL from SW
#define PLL DISABLE	         ; ENABLE or DISABLE
