;**********************************************************************
;                                                                     *
;    Filename:      p18fxxk20-24-25-26-44-45-46.cfg                   *
;    Date:          07.08.2011                                        *
;    FF Version:    3.8                                               *
;    Copyright:     Mikael Nordman                                    *
;    Author:        Mikael Nordman                                    *
;                                                                     * 
;    Modified:                                                        *
;**********************************************************************
;    FlashForth is licensed acording to the GNU General Public License*
;**********************************************************************
;;; FlashForth processor specific configuration

; The config directive is used control the processor configuration bits
; See processor specific include file for details.

#if CONFIG_RESET == 0x0000
        config FOSC = INTIO67
        config FCMEN = OFF
        config IESO = OFF
        config PWRT= ON
        config BOREN = OFF
        config BORV = 30
        config WDTEN = ON
        config WDTPS = 256
        config MCLRE = ON
        config HFOFST = OFF
        config LPT1OSC = OFF
        config PBADEN = OFF
        config CCP2MX = PORTC
        config STVREN = ON
        config LVP = OFF
        config XINST = OFF
        config DEBUG = OFF
        config CP0 = OFF
        config CPB = OFF
        config WRTC = ON
#endif
;;; Some constants controlling how writes to program flash is made.
#ifdef __18F26K20
        constant flash_write_outer_loop = d'1'
        constant flash_write_inner_loop = d'64'
#else
#ifdef __18F46K20
        constant flash_write_outer_loop = d'1'
        constant flash_write_inner_loop = d'64'
#else
        constant flash_write_outer_loop = d'2'
        constant flash_write_inner_loop = d'32'
#endif
#endif
