// File: FF_0000_p18fxxk42.lkr
// Linker script for FlashForth without bootloader.
// Adjust the cstack and STACK SIZE if needed.
LIBPATH .

CODEPAGE   NAME=coder      START=0x0000         END=0x00007
CODEPAGE   NAME=codeih     START=0x0008         END=0x22D7
CODEPAGE   NAME=code1      START=0x22D8         END=0x22FF         PROTECTED
CODEPAGE   NAME=code2      START=0x2300         END=0xFFFFF        PROTECTED
CODEPAGE   NAME=idlocs     START=0x200000       END=0x20000F       PROTECTED
CODEPAGE   NAME=config     START=0x300000       END=0x300009       PROTECTED
CODEPAGE   NAME=devid      START=0x3FFFFE       END=0x3FFFFF       PROTECTED
CODEPAGE   NAME=eedata     START=0x310000       END=0x3103FF       PROTECTED


ACCESSBANK NAME=acs_ram    START=0x10              END=0x40           PROTECTED
DATABANK   NAME=irqstack   START=0x41              END=0x7FF          PROTECTED
ACCESSBANK NAME=accesssfr  START=0x3F60            END=0x3FFF         PROTECTED
DATABANK   NAME=sfr56      START=0x3800            END=0x38FF         PROTECTED
DATABANK   NAME=sfr57      START=0x3900            END=0x39FF         PROTECTED
DATABANK   NAME=sfr58      START=0x3A00            END=0x3AFF         PROTECTED
DATABANK   NAME=sfr59      START=0x3B00            END=0x3BFF         PROTECTED
DATABANK   NAME=sfr60      START=0x3C00            END=0x3CFF         PROTECTED
DATABANK   NAME=sfr61      START=0x3D00            END=0x3DFF         PROTECTED
DATABANK   NAME=sfr62      START=0x3E00            END=0x3EFF         PROTECTED
DATABANK   NAME=sfr63      START=0x3F00            END=0x3F5F         PROTECTED

SECTION NAME=FORTH_VARS   RAM=acs_ram
SECTION NAME=MATH_DATA    RAM=acs_ram
SECTION NAME=IRQ_STACK    RAM=irqstack
SECTION NAME=FF_RESET     ROM=coder
SECTION NAME=FF_INT_HI    ROM=codeih
SECTION NAME=FF_END_CODE  ROM=code1
SECTION NAME=FF_DP        ROM=code2
