// File: FF_USB_0000.lkr
// Linker script for FlashForth USB without bootloader.
LIBPATH .

// No bootloader  Application start at 0x0000
CODEPAGE   NAME=coder      START=0x0000         END=0x00007
CODEPAGE   NAME=codeih     START=0x0008         END=0x026D7
CODEPAGE   NAME=code1      START=0x26D8         END=0x026FF        PROTECTED
CODEPAGE   NAME=code2      START=0x2700         END=0x07FFF        PROTECTED

CODEPAGE   NAME=idlocs     START=0x200000       END=0x200007       PROTECTED
CODEPAGE   NAME=config     START=0x300000       END=0x30000D       PROTECTED
CODEPAGE   NAME=devid      START=0x3FFFFE       END=0x3FFFFF       PROTECTED
CODEPAGE   NAME=eedata     START=0xF00000       END=0xF000FF       PROTECTED

ACCESSBANK NAME=acs_ram    START=0x10           END=0x47           PROTECTED
DATABANK   NAME=ram_dp     START=0x48           END=0x3FF          PROTECTED
DATABANK   NAME=usbep      START=0x400          END=0x417          PROTECTED
DATABANK   NAME=usbvars    START=0x418          END=0x437          PROTECTED
DATABANK   NAME=userarea   START=0x438          END=0x5FF          PROTECTED
DATABANK   NAME=irqstack   START=0x600          END=0x79F          PROTECTED
DATABANK   NAME=uarttx     START=0x7A0          END=0x7BF          PROTECTED
DATABANK   NAME=uartrx     START=0x7C0          END=0x7FF          PROTECTED
DATABANK   NAME=sfr        START=0xf40          END=0xf5f          PROTECTED
ACCESSBANK NAME=accesssfr  START=0xF60          END=0xFFF          PROTECTED

SECTION NAME=FORTH_VARS   RAM=acs_ram
SECTION NAME=UART_RX      RAM=uartrx
SECTION NAME=UART_TX      RAM=uarttx
SECTION NAME=USER_AREA    RAM=userarea
SECTION NAME=USB_EP       RAM=usbep
SECTION NAME=USB_VARS     RAM=usbvars
SECTION NAME=HERE         RAM=ram_dp
SECTION NAME=IRQ_STACK    RAM=irqstack
SECTION NAME=FF_RESET     ROM=coder
SECTION NAME=FF_INT_HI    ROM=codeih
SECTION NAME=FF_END_CODE  ROM=code1
SECTION NAME=FF_DP        ROM=code2
